@model EmotionPlatzi.Web.Models.Home

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vista sin layaout</title>
</head>
<body>
    <div> 
        
        <h2>@Model.WelcomeMessage</h2>
        <h4>@Model.FooterMessage</h4>
        
    </div>
</body>
</html>
